.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 100;
  display: block;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  color: white;
  font-weight: bold;
  font-size: 60px;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.slick-prev {
  left: 40%;
}

.slick-next {
  right: 40%;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev:before {
  content: "<";
  opacity: 0.5;
}

.slick-next:before {
  content: ">";
  opacity: 0.5;
}


.slick-slide {
  -webkit-transition: all 1.5s cubic-bezier(0.875, 0.110, 0.815, 1.015);
     -moz-transition: all 1.5s cubic-bezier(0.875, 0.110, 0.815, 1.015);
       -o-transition: all 1.5s cubic-bezier(0.875, 0.110, 0.815, 1.015);
          transition: all 1.5s cubic-bezier(0.875, 0.110, 0.815, 1.015);
  -webkit-transition-timing-function: cubic-bezier(0.875, 0.110, 0.815, 1.015);
     -moz-transition-timing-function: cubic-bezier(0.875, 0.110, 0.815, 1.015);
       -o-transition-timing-function: cubic-bezier(0.875, 0.110, 0.815, 1.015);
          transition-timing-function: cubic-bezier(0.875, 0.110, 0.815, 1.015);
}

.slick-slide:not(.slick-center) {
  opacity: 0.8;
  transform: scale(0.8);
}

@media screen and (max-width: 480px) {
  .slick-slide:not(.slick-center) {
    transform: scale(1);
  }

  .slick-prev {
    left: 10%;
  }

  .slick-next {
    right: 10%;
  }
}
